@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Righteous');
*{
  font-family: 'Poppins', sans-serif;
  font-size:1.05em;
}
body{
  background-color:#4d4d4d;
  color:#fff;
}
h1, h2, h3 {
  font-family: 'Righteous', cursive;
  }
a {
  color:#990033;
}
a:hover{
  color:color:#990033;
  text-decoration: none;
  //font-weight: bold;
}
a::after{
  color:#009966;
}
.alert{
  margin:0;
  font-size:1.5em;
  background-color:#009966;
  border:none;
  color:white;
}
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-brand {
  font-family: 'Righteous', cursive;
  font-size:3em;
}

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.bg-purple {
  background: #990033;
  -webkit-box-shadow: 0px 0px 20px 5px #111;
  -moz-box-shadow: 0px 0px 20px 5px #111;
  box-shadow: 0px 0px 20px 5px #111;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}

.nav-item {
  font-size:1.2em;
  padding-right:2em;
}
.jumbotron {
  background-color: #009966;
  color: #fff;
}
.jumbotron-front-page{
  margin-bottom:0;
  padding: 5em;
  min-height:40vh;
}
.advantage-row{
  margin-top:-8em;
  margin-bottom:20px;

}
.advantage-row > div {
  padding-left:5em;
  margin-top:0;
  color:#000;
  padding:1em;
}
.inner {
  padding:1.5em;
  border-radius:40px;
  margin:1em;

  background-color:#efefef;
    -webkit-box-shadow: 0px 0px 20px 5px #111;
  -moz-box-shadow: 0px 0px 20px 5px #111;
  box-shadow: 0px 0px 20px 5px #111;

}
.full-height{
    height:100%;
}
.black-text {
  color:#000;
}
.padded {
  padding:2.5em;
}
.move-up{
  margin-top:-20vh;
  margin-bottom:25vh;
}
#fixed-icons {
  width:100%;
  position:fixed;
  z-index:2;
  bottom:0px;
  margin:0;
  margin-left:2em;
}
#fixed-icons span {
  align-self: flex-end;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.soc-med {
  margin:.2em;
  font-size:2em !important;
  color:white;
}

.white-text {
  color:white;
}
