@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Righteous');
*{
  font-family: 'Poppins', sans-serif;
  font-size:1.05em;
}
body{
  background-color:#4d4d4d;
  color:#fff;
}
h1, h2, h3 {
  font-family: 'Righteous', cursive;
  }
a {
  color:#096;
}
a:hover{
  color:color:#990033;
  text-decoration: none;
  //font-weight: bold;
}
a::after{
  color:#009966;
}
.container {
  margin-bottom:4em;
}

.alert{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size:1.8em;
  background-color:#f34e62b5;
  border:none;
  color:white;
  width:55%;
  border-radius:2em;
  position:absolute;
}
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-brand {
  font-family: 'Righteous', cursive;
  font-size:3em;
}
.collapse.in {
      display: block;
}
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.bg-purple {
  background: #990033;
  -webkit-box-shadow: 0px 0px 20px 5px #111;
  -moz-box-shadow: 0px 0px 20px 5px #111;
  box-shadow: 0px 0px 20px 5px #111;
}
.first-box {
  text-decoration: none;
}
.first-box:hover{
  color: #990033;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}

.nav-item {
  font-size:1.2em;
  padding-right:2em;
}
.jumbotron {
  background-color: #009966;
  color: #fff;
}
.jumbotron-front-page{
  margin-bottom:0;
  padding: 5em;
  min-height:40vh;
}
.advantage-row{
  margin-top:-8em;
  margin-bottom:20px;

}
.advantage-row > div {
  padding-left:5em;
  margin-top:0;
  color:#000;
  padding:1em;
}
.inner {
  padding:1.5em;
  border-radius:40px;
  margin:1em;

  background-color:#efefef;
  -webkit-box-shadow: 0px 0px 20px 5px #111;
  -moz-box-shadow: 0px 0px 20px 5px #111;
  box-shadow: 0px 0px 20px 5px #111;

}
.full-height{
    height:100%;
}
.black-text {
  color:#000;
}
.padded {
  padding:2.5em;
}
.move-up{
  margin-top:-20vh;
  margin-bottom:25vh;
}
#fixed-icons {
  width:100%;
  position:fixed;
  z-index:2;
  bottom:0px;
  margin:0;
  padding-left:2em;
  background-color:black;
  border-top:3px solid #990033;
}
#fixed-icons span {
  align-self: flex-end;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.soc-med {
  margin:.2em;
  font-size:2em !important;
  color:white;
}

.white-text {
  color:white;
}
.fa:hover {
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
}
.fa-facebook-square:hover {
  color:#3b5998;
}
.fa-twitter-square:hover {
  color:#55acee;
}
.fa-linkedin-square:hover {
  color:#007bb5;
}
.fa-whatsapp:hover {
  color:#4dc247;
}
.fa-github-square:hover {
  color:#000;
}
#daveingles::hover{
  font-weight:bold;
  color:#009966;;
}
.element-animation{
  animation: animationFrames 3s cubic-bezier(0, 0.43, 0.9, 0.59) forwards;
}

@keyframes animationFrames{
  0%,100% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  50% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}
#word{
  width:25em;
}
@media only screen and (min-device-width: 600px) {
  #mobile-bubble{
    display:none;
  }
}
