{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
	{% block app_content %}
	<div class="jumbotron jumbotron-fluid jumbotron-front-page">
		<div class="container">
		    <h1 class="display-4 text-center">linglos</h1>
		    <p class="lead text-center">Learn every aspect of each new word</p>
		  </div>
</div>
<div class="container">
    <div class="row advantage-row">
			<div class="col-md" id="col1" id="mobile-bubble">
        <div class="inner full-height" >
					{% if login == False %}
					<a href="#form" class="first-box">
						<h2 class="text-center">Login to linglos</h2>
	        	<p class="text-center">Or create an account if you're new to linglos.</p>
					</a>
						{% else %}
					<a href="/game" class="first-box">
						<h2 class="text-center">Click here to study!</h2>
					</a>
					<a href="#form" class="first-box">
	        	<p class="text-center">Or click here to add words to your list.</p>
					</a>
						{% endif %}
        </div>
			</div>
			<div class="col-md" id="col2">
        <div class="inner full-height">
					<h2 class="text-center">Automatically created study plan</h2>
      		<p class="text-center">Choose a pre-made list of words or customise your own.</p>
      </div>
			<div class="col-md" id="col1">
        <div class="inner full-height" id="bubble-1">
					<h2 class="text-center">Powered by the Oxford English Dictionary</h2>
        	<p class="text-center">Translations, synonyms, definitions and example sentences for every available meaning.</p>
        </div>
			</div>
	</div>
	<div class="col-md" id="col3">
        <div class="inner full-height">
		<h2 class="text-center">Learn words in depth</h2>
        <p class="text-center">Don't just learn word pairs - learn how to <i>use</i> the word</p>
        </div>
	</div>
		</div>
<div class="row">


	<div class="col-md-6">
		<h2 class="text-center">Welcome to linglos</h2>
	<p>Linglos is a tool which has been developed to help you to learn words in-depth - not just superficially.</p>
	<p>Too many language learners simply study pairs of words with a translation in their native language and never successfully
	grasp how to use the word. Linglos is a fun way to improve this depth of knowledge and improve understanding.</p>
	</div>
	<div class="col-md-6" id="form">
		{% if login == False %}
		<h3 class="text-right">Welcome back <strong>{{ current_user.username }}</strong></h3>
		{% endif %}
		{% if form %}
			<div class="p-4">
					{{ wtf.quick_form(form) }}
					{% if login %}
					<a href="{{ url_for('reset_password_request') }}">Click here</a></p>
					<p>New User? <a href="{{ url_for('register') }}">Click here to register!</a></p>
					{% endif %}
			</div>
		{% endif %}
	</div>
</div>


	</div>



{% endblock %}
